.card{

    box-sizing: border-box;
    margin: auto;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-align: justify;
    width: 70%;
    order:2;
}

.inner-dep{
   
    margin-left: 0;
}

@media screen and (max-width: 980px) {
    .inner-dep{
        padding-top:0;
    }
} 